.header{
    text-align: center;
}
.logo{
    height: 100px;
    margin-bottom: 10px;
    
}
.header nav{
    background-color: black;
    line-height: 50px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 25px;
    text-align: left;
    
}
.header nav a:hover{
    background-color: lightgray;
}